In [1]:
import pandas as pd
import numpy as np
pa = pd.read_csv("player_activity.csv")
grouped = pa.groupby("platform_id")

# account_id, platform_id, date

TEST

In [6]:
import pandas as pd
import numpy as np
player_stats = pd.read_csv('player_statistics.csv')
item_spend = pd.read_csv('item_spend.csv')
player_activity = pd.read_csv('player_activity.csv')

# account_id, platform_id, occur_date

# Merge left player_stats + item_spend
merged = pd.merge(player_stats, item_spend, on=['account_id', 'platform_id', 'occur_date'], how='left')

# Merge left the resulting dataframe with player_activity
merged = pd.merge(merged, player_activity, on=['account_id', 'platform_id', 'occur_date'], how='left')
aggregated_df = merged.groupby(['account_id', 'platform_id', 'occur_date']).agg({
    'ltd_days_played': 'first',  # You can choose an appropriate aggregation method
    'evc_balance': 'sum',        # For numeric columns, you might want to sum or take the first value
    'pvc_balance': 'sum',
    'char_rank': 'first',
    'daily_playtime': 'sum'       # Sum playtime for the same day
    # Add more columns as needed
}).reset_index()
merged

,account_id,platform_id,occur_date,ltd_days_played,evc_balance,pvc_balance,char_rank,daily_playtime
0,0,XBOX,10/10/2020,182,1.648404e+06,11436.821444,34,1.136359
1,0,XBOX,10/11/2020,183,4.052501e+05,0.000000,35,0.184363
2,0,XBOX,10/19/2020,184,4.053223e+05,0.000000,35,0.124253
3,0,XBOX,10/24/2020,186,4.107461e+05,0.000000,35,0.074666
4,0,XBOX,10/26/2020,188,2.152324e+05,0.000000,35,0.444627
...,...,...,...,...,...,...,...,...
246132,9526,PS4,9/3/2020,105,1.437182e+05,0.000000,28,0.518382
246133,9526,PS4,9/4/2020,106,1.437182e+05,0.000000,28,0.000000
246134,9526,PS4,9/7/2020,108,3.042103e+05,0.000000,29,1.657790
246135,9526,PS4,9/8/2020,110,1.729391e+05,0.000000,29,0.898548
246136,9526,PS4,9/9/2020,111,7.377620e+05,0.000000,30,3.773591

In [ ]:

platform_playtime = aggregated_df.groupby('platform_id')['daily_playtime'].sum()

# Plot the results or perform further analysis
platform_playtime.plot(kind='bar', xlabel='Platform', ylabel='Total Playtime (hours)', title='Player Playtime by Platform')

# Show the plot
plt.show()